* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  padding-top: 40px;
  max-width: 1400px;
  grid-template-columns: 1fr;
  display: flex;
  place-content: center;
}

body > * {
  padding: 20px;
}

ul > li {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

#chat ol {
  max-height: 200px;
  overflow-y: scroll;
}
